<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-6 text-center">
      <a href="/#/authentication/login">
        <div class="card shadow-lg" style="cursor: pointer">
          <h1 class="my-5 h2">{{'teacher'| translate}}</h1>
        </div>
      </a>
    </div>

    <div class="col-6 text-center">
      <div class="card shadow-lg" style="cursor: pointer">
        <h1 class="my-5 h2">{{'parent'| translate}}</h1>
      </div>
    </div>
  </div>
</div>
